:root {
  --primary: #fff !important;
  --primary-text: #1a1a1a;
  --secondary: #1dd1a1;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #f3ba40;
}

body {
  background-image: url("./images/bg.png") !important;  
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top ;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  vertical-align: middle;
  margin: 20px auto;
  width: 80%;
}

.flexItems {
  width: 10%;
}
.flexItems > a > img {
  width: 100%;
}


@media screen and (max-width: 480px) {
  body {
    background-size: auto;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 600px) {
  .flexItems {
    width: 15%;
  }
}

.overlay {
  background: #222222;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0;
  opacity: 0.5;
  z-index: 5000;
  width: 100%;
}

.spinner{
  margin: auto;

}

.logo{
  display: flex;
  justify-content: flex-start;
    width: 200px;
}

.imgOnTop {
  position: absolute;
  top: 50;
  left: 50;
  background-color: rgba(46, 134, 222, 1);
  width: 60vw;
  height: 90vh;
  border-radius: 10px;
  color: #fff;
  z-index: 999;
  
}


.heading{ 
  font-size: 48px;   
  padding: 80px 0;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.bodyText{
  font-size: 36px;
  display: flex;
  justify-content: center;  
  text-transform: uppercase;
  margin: 0 auto;

}

@media screen and (max-width:1024px) {

  .imgOnTop {
    width: 100vw;
    height: 90vh;
  }

  .heading{ 
    font-size: 32px;   
  }

  .bodyText{
    font-size: 24px;
  
  }
  
}


